body {
  background: rgb(30, 30, 30);
  color: white;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

h1 {
  margin-top: 4%;
  color: rgb(255, 204, 0);
}

table {
  margin: 60px auto;
  border-collapse: collapse;
}

thead {
  color: rgb(255, 204, 0);
  font-weight: bold;
  background: rgb(55,55,55);
}

tbody, thead {
  border: solid rgb(255, 224, 102);
}

th, td {
  padding: 5px 48px;
  border-left: solid rgb(255, 224, 102);
}

span.error {
  border-color: red;
  color: red;
  font-weight: bold;
  font-size: 25px;
}

input.error{
  background-color: rgb(255, 153, 153);
}

.win {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  font-size: 30px;
  background-color: rgba(255, 204, 0, 0.8);
  color: black;
  font-weight: bold;
}

.win p{
  margin-top: 100px;
}

.win .close{
  color: white;
  background-color: rgb(52, 127, 249);
  width: 200px;
  margin: 100px auto;
  border: solid white;
  cursor: pointer;
}
